.main {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    overflow: hidden; 
    display: flex;
}


.rightBox {
    padding-left: 15px;
}

.activityStartTime{
    font-weight: 700;
}


.activityDesctiption {
    font-weight: 200;
}