.main {
    padding: 10px;

    border-bottom: 1px solid black;
    overflow: hidden; 
    display: flex;
    align-content: space-between;
    cursor: pointer;

}

.main:hover{
    background-color: rgb(255, 234, 189);
}

.centerBox {
    padding-left: 15px;
    width: 100%;
}

.activityStartTime{
    font-weight: 700;
}


.activityDesctiption {
    font-weight: 200;
}

