.main {
    /* border: 1px solid rgb(73, 73, 73); */
    padding: 10px;
    /* border-radius: 5px; */
    margin-bottom: 5px;
    /* background-color: rgb(243, 243, 243); */
    /* width: 500px; */
    border-bottom: 1px solid black;
    overflow: hidden; 
    display: flex;
}


.rightBox {
    padding-left: 15px;
}

.activityStartTime{
    font-weight: 700;
}


.activityDesctiption {
    font-weight: 200;
}