.dashboard{
    margin: auto;
    max-width: 900px;
    min-width: 450px;
}

.top{
    height: 15vh;
    width: 100%;
    overflow: scroll;
  }

  .feed{
    height: 80vh;
    overflow: scroll;

  }

  .noActivities{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: Block;
    font-size: 1.4em;
    padding-top: 100px;
    text-align: center;
  }
  
  ::-webkit-scrollbar {
      display:none;
  }
  
  
  