.dashboard{
    margin: auto;
    max-width: 900px;
    min-width: 400px;
}

.top{
    padding-top: 5px;
    height: 20vh;
    width: 100%;
  }

  .feed{
    height: 85vh;
    overflow: scroll;

  }

  .noActivities{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: Block;
    font-size: 1.4em;
    padding-top: 100px;
    text-align: center;
  }
  
  ::-webkit-scrollbar {
      display:none;
  }
  
  
  