.dashboard{
    margin: auto;
    max-width: 900px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.top{
    padding-top: 5px;
    height: 20dvh;
    width: 100%;
    min-height: 120px;
  }

  .feed{
    height: 75dvh;
    overflow: scroll;
    width: 100%;
  }

  .noActivities{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: Block;
    font-size: 1.4em;
    padding-top: 100px;
    text-align: center;
  }
  
  ::-webkit-scrollbar {
      display:none;
  }
  
  
  