.outerCircle {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }

  .timeSpan {
    /* width: 30%; */
    height: 40%;
    font-weight: 400;
  }

