.fullBar{
    width: 100%;
    border-bottom: 1px solid rgb(211, 210, 210);
    padding-top: 5px;
    padding-bottom: 5px;;
    position: fixed;
    top: 0;
    left: 0;
}

.innerBar {
    margin: auto;
    max-width: 900px;
    position: relative;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #e4896d;
    transition: color 0.2s;
    cursor: pointer;
    font-weight: 500;
  }

  .nav-link:hover {
    color: #DD4111;
  }