.fullBar{
    /* background-color: rgb(160, 211, 255); */
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(211, 210, 210);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.innerBar {
    margin: auto;
    max-width: 900px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #e4896d;

    transition: color 0.2s;
  }

  .nav-link:hover {
    color: #DD4111;
  }