
 .material-icons.md-48 { 
  font-size: 48px; 
  color: rgb(235, 235, 235);
}
 
  .buttonBase{
    border-radius: 55px;
    height: 110px;
    width: 110px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 .start {
    background-color: #7db4a7;
    border: 10px solid #08b88f;
  }

  .stop {
    background-color: #ee6a59 ;
    border: 10px solid #f03016;
  }

  .loading {
    background-color: #f1c469;
    border: 10px solid #f1a512;
  }
